*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --font-size-primary:    18px;
    --color-bg-he-fo:       #d98162;
    --color-bg-body:        #d9ceb0;
    --color-bg-form:        #736c48;
    --color-primary:        #736451;
    --color-securdary:      #f2f2f2;
    --font-primary:         'Poppins', sans-serif;
    --font-secondary:       'Open Sans', sans-serif;
    --font-tertiary:        'Merriweather Sans', sans-serif;
}

body{
    width: 100%;
    min-height: 100vh;
    box-sizing: inherit;
    font-size: var(--font-size-primary);
    font-family: var(--font-primary);
    color: var(--color-bg-body);
    display: grid;
    grid-auto-columns: auto;
    grid-template-rows: repeat(3, auto);
    margin: auto;
    max-width: 1440px;
}

/* Estilos para la cebezera y el menú de navegación principal */
header{
    display: grid;
    width: 100%;
    background-color: var(--color-bg-he-fo);
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
}
header nav{
    background-color: var(--color-bg-he-fo);
    display: flex;
    justify-content: end;
    align-items: center;
}

nav ul li a{
    color: var(--color-primary);
    text-decoration: none;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    padding: 4px 0;
    transition: .7s ease-out;
}

header nav ul a:hover, #active{
    border-color: var(--color-securdary);
} 
#icono{
    display: none;
}

/* Estilos de los Sliders */
.container{
    width: 90%;
    min-height: 100%;
    max-width: 1440px;
    margin: 0 auto;
    overflow: hidden;
}

.slider{
    background-color: var(--color-bg-he-fo);
    padding: 40px 0;
    
}

.slider__container{
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    align-items: center;
    gap: 1em;
    height: 100%h;
}

.slider__body{
    grid-column: 2/3;
    grid-row: 1/2;
    opacity: 0;
    pointer-events: none;
    display: grid;
    background-color:var(--color-bg-he-fo);
    grid-template-columns: 1fr max-content;
    align-items: center;
    transition: opacity 1.5s;
}

.slider__body--show{
    opacity: 1;
    pointer-events: unset;
}

.slider__texts{
    max-width: 600px;
}

.subtitle{
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.slider__review{
    font-weight: 300;
    font-size: 20px;
    line-height: 1.7;
}

.slider__img{
    width: 330px;
    height: 330px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin: 0 auto;
}

.slider__arrow{
    cursor: pointer;
    width: 90%;
}

.slider__arrow:nth-of-type(2){
    justify-self: end;
}

/* Estilos para el contenido principal */
main{
    flex: 1 0 auto;
    background-color: var(--color-bg-body);

}
/* estilos del formulario */
form{
    width: 100%;
    margin: 50px auto;
    padding: 2rem;
}

fieldset{
    border: 2px double #333;
    border-radius: 10px;
    padding: 2rem;
}

fieldset:nth-child(2){
    border: 0
}

legend{
    padding: 0 1rem;
    font: 1.5rem;
    font-weight: bold;
}

input[type="submit"]{
    font-size: 1.2rem;
    padding: 1rem;
    border-radius: 5px;
}

ul{
    list-style: none;
}

input:not(input[type="submit"]){
    display: block;
    margin: 1rem 0;
    width: 95%;
    font: 1.2rem;
    padding: 1.2rem;
    border-radius: 5px;
}

.error{
    color: #ff0000;
}

/* Estilos para footer */
footer {
    background: var(--color-bg-he-fo);
    padding: 0 2em;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 70% 30%;
    align-content: center;
}
.rrss {
    list-style: none;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    font-size: 1.5rem;
}
.rrss li{
    margin: 1.5rem;
}

.fab {
    font-size: 1.2em;
    color: var(--bg-boxes-buton-secundary);
}
.copy{
    display: flex;
    flex-direction: column;
}
.copy p{
    text-align: center;
    font-size: 1.5rem;
    /* border-bottom: 1px solid var(--bg-boxes-buton-secundary); */
} 

/* MEDIA QUERIES */
 @media only screen and (max-width: 768px){
    
   /* medias para los sliders */
    .slider__body{
        grid-template-columns: 1fr;
        grid-template-rows: max-content 1fr;
        gap: 1em;
    }
    .slider__picture{
        grid-row: 1/2;
    }

    .slider__img{   
        width: 210px;
        height: 210px;
    }
    #icono{
        display: flex;
        font-size: 2rem;
        margin-right: 2rem;
        z-index: 2; 
    }
    #icono i:hover{
        cursor: pointer;
    }
    .enlaces{
        width: 30%;
        list-style: none;
        display: flex;
        justify-content: space-evenly;
        height: 100vh;
        width: 100vw;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 1;
        flex-direction: column;
        align-items: center;
        transition: all 1.5s ease;
        background: rgb(115,100,81); 
        background: linear-gradient(90deg, rgba(115,100,81, 1) 0%, rgba(217,129,98, 1) 50%, rgba(217,129,98,1) 100%);
    }
    .close{
        clip-path: circle(0% at 100% 0%);
    }
    .open{
        clip-path: circle(150% at 100% 0%);
    }
 }
    @media (max-width:425px){

        .slider__container{
            grid-template-columns: 25px 1fr 25px;
        }
    
        .slider__arrow{
           width: 100%;
        }
    
        .slider__img{   
            width: 180px;
            height: 180px;
        }
    
        .subtitle{
            font-size: 2rem;
            margin-bottom: 15px;
        }
    
        .slider__review{
            font-size: 1rem;
            line-height: 1.6;
        }
    }

@media (min-width:769px){
    /* orden del grid del header */

    header .slider{
        grid-row: 1;
    }
    nav{
        grid-row: 2;
        flex-direction: row;
    }
    #enlaces{

        width: 100%;
        list-style: none;
        display: flex;
        z-index: 10;
        justify-content: space-evenly;
        /* flex-direction: row; */
    }
}